{% extends "base.html" %}

{% block title %}
Bebederos en CU
{% endblock %}

{% block body %}

<!-- Header-->
<header class="bg-primary bg-gradient text-white">
  <div class="container px-4 text-center">
    <h3 class="fw-bolder">Busca cualquier bebedero en Ciudad Universitaria</h3>
    <br>
    <form role="search">
      <input class="form-control busqueda" name="q" type="search" placeholder="Buscar bebederos" aria-label="Search">
      <button class="btn button-18" type="submit">
        <span class="glyphicon glyphicon-search"></span>Buscar
      </button>
    </form>
  </div>
</header>

<br>
<div class="feedback">
  {{ feedback_resultados }}
</div>

<div class="mapa">
  {{ map|safe }}
</div>

<div class="text-end">
  <a href="reportes/" target="_blank"><button type="button" class="btn btn-danger">Reportar un bebedero</button></a>
</div>


{% endblock %}